
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 50px;
    height: 50px;
  }
   
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  