.ContentBox {
    /* flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 0;
    overflow: auto;
    background: transparent; */
    overscroll-behavior: contain;
  }
  .ContentBox:first-of-type {
    /* padding-top: 1rem; */
  }
  